header {
    background-color: rgb(0, 80, 195);
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 15px 40px;

}

#logotiendanube {
    fill: white;
    height: 40px;
    filter: brightness(0) invert(1);

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-azul {

    background-color: rgb(0, 80, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 125px;
    padding-right: 125px;
    justify-content: space-between;
    padding-bottom: 125px;
}

.section-blanca {
    /*
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 20px;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-redondeado {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;

}

.boton-redondeado-blanco {
    background-color: white;
    color: rgb(0, 80, 195);
    border: 1px solid rgb(0, 80, 195);
}

.boton-redondeado-blanco:hover {
    background-color: rgb(0, 80, 195);
    color: white;
    border-color: white;
    cursor: pointer;
}

.flex-header {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    justify-content: center;

}

#imagen-hero {
    margin-left: 90px;
}

#hero-h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    width: 450px;
    line-height: 50px;
    margin-bottom: 1px;
}

.p-usual {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.p-small {
    font-size: 14px;
    color: white;
}

#fondo-boton-redondeado {
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 80%;
    height: 45px;
    border-radius: 30px;
    padding-left: 15px;


}

input {
    border-radius: 30px;
    border: unset;
}

.boton-redondeado-azul {
    background-color: rgb(0, 80, 195);
    color: white;
    border: 1px solid rgb(0, 80, 195);
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;


}

.boton-redondeado-azul:hover {
    background-color: white;
    color: rgb(0, 80, 195);
    border-color: rgb(0, 80, 195);
    cursor: pointer;
}

#fondo-boton-redondeado input {
    flex: 1;
    border: none;
    border-radius: 40px;
    padding: 0 15px;
    font-size: 16px;
    color: #666;
}

h2 {
    color: black;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 1px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.tarjeta {
    display: flex;
    border: 1px solid #447ecf;
    border-radius: 20px;
    background-color: white;
    color: #171e43;
    flex-direction: column;

}

.tarjeta-multiple-seccion3 {
    flex-basis: 350px;
    border: 1px solid #447ecf;
    padding: 10px;
    padding-top: 60px;
    margin: 20px;
    margin-top: 70px;
}

.tarjeta-multiple-seccion3 h3 {
    font-size: 24px;
    font-weight: 600;
}

.titulo-h-2 {
    text-align: center;
    width: 66.66667%;
}

#imagen-celular {
    max-width: 40%;

}

.container-linea {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

#container-lista {
    margin-left: 80px;
}

#container-lista h3 {
    font-size: 32px;
    font-weight: 600;
}


#lista-palabras {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}
#container-lista ul{
    font-size: 18px;
}
.tamaño-lista-desordenada{
    width: 350px;
}
#contendor-boton-seccion3{
    display: flex;
}
#section-azul-mediana{
    min-height: 73vh;
    background-color: rgb(0, 80, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 125px;
    justify-content: center
}

#section-nuestras-historias h2{
    color: white;
}
span{
    font-size: 24px;
}
#section-comentarios{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 200px;
}

.tarjeta-unica-section4{
  background-color: white;       
  border-radius: 12px;           
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
  
  flex-basis: 350px;             
  border: 1px solid #e6e6e6;     
  
  padding: 20px;                 
  padding-top: 25px;
  padding-right: 100px;
               
  margin: 0 20px;                
  margin-top: 30px;  

}
.tarjeta-unica-section4 h3{
    font-size: 20px;
}
.titulo-grande{
    width: 517px;
    height: 132px;
    font-size:42px;
}
.botones-flechita{
    display: flex;
    flex-direction: row;
}
#padding-section-6{
    margin-left:250px;
}